/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: pfdintextcondpro;
  src: url(../fonts/pfdintextcondpro-light.ttf);
}
.popup {
  height: 840px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 100px auto;
  padding: 60px 120px;
  background: #fff;
  border: 1px solid #bbb;
  position: relative;
}
.popup h1, .popup ul {
  margin: 0;
  padding: 0;
}
.popup ul {
  list-style: none;
}
.popup ul li {
  transition: all .5s;
  color: #010101;
  font-family: PFDinTextCondPro;
  font: 300 24px/48px PFDinTextCondPro, Arial,sans-serif;
}
.popup ul li:nth-child(even) {
  background-color: #f0f0f0;
}
.popup ul li:nth-child(odd) {
  background-color: #fff;
}
.popup ul li:first-child, .popup ul li:nth-child(7) {
  background-color: #bef04e;
}
.popup ul li:nth-child(2), .popup ul li:last-child {
  background-color: #b6e54c;
}
.popup a {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.popup img {
  vertical-align: middle;
  width: 170px;
  height: 150px;
}
.popup a#cross {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 9px 19px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/cross.png) no-repeat center;
  border: 2px solid transparent;
}
.popup a#cross:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.popup .flat-title {
  z-index: 10;
  float: left;
  width: 270px;
}
.popup .f-title-item {
  border: 2px solid #81878a;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.42);
  width: 270px;
}
.popup .f-title-item ul li {
  text-align: right;
  padding-right: 28px;
}
.popup .p-title-top {
  background-color: #fff;
  text-align: right;
  padding: 60px 25px 40px 0;
}
.popup .p-title-top h1 {
  margin: 0;
  color: #080216;
  font: 300 36px/36px PFDinTextCondPro, Arial,sans-serif;
  text-transform: uppercase;
}
.popup .p-title-bottom {
  background-color: #fff;
  padding: 32px 25px 52px 0;
  text-align: right;
}
.popup .p-title-bottom h1 {
  margin: 0;
  color: #080216;
  font: 300 30px/30px PFDinTextCondPro, Arial,sans-serif;
  text-transform: uppercase;
}
.popup .p-title-bottom span {
  color: #f36;
  font: 500 36px/30px PFDinTextCondPro, Arial,sans-serif;
}
.popup .flat-wrap {
  margin-top: 28px;
  margin-left: 4px;
  float: left;
  overflow-x: auto;
  padding-bottom: 10px;
  width: 685px;
  z-index: 6;
}
.popup .flat-items {
  width: 690px;
  height: 724px;
}
.popup .flat-items::before,
.popup .flat-items::after {
  content: " ";
  display: table;
}
.popup .flat-items::after {
  clear: both;
}
.popup .flat-item {
  position: relative;
  float: left;
  width: 229px;
  border: 2px solid #81878a;
  border-left: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}
.popup .flat-item ul li {
  text-align: left;
  padding-left: 35px;
}
.popup .flat-item:hover {
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.42);
  cursor: pointer;
  z-index: 15;
}
.popup .flat-item:hover ul li:nth-child(even) {
  background-color: #fff;
}
.popup .flat-item:hover ul li:first-child, .popup .flat-item:hover ul li:nth-child(7) {
  background-color: #ecfbca;
}
.popup .flat-item:hover ul li:nth-child(2), .popup .flat-item:hover ul li:last-child {
  background-color: #e0f5af;
}
.popup .p-flat-top {
  text-align: center;
  padding: 10px 0 20px;
  height: 150px;
}
.popup .p-flat-bottom {
  background-color: #fff;
  text-align: center;
  padding: 10px 0 20px;
}
.popup .p-flat-bottom a {
  display: block;
  margin-bottom: 15px;
  color: #81878a;
  font: 300 18px/18px PFDinTextCondPro;
}
.popup .p-flat-bottom a:first-child:hover {
  color: black;
  font-weight: 400;
  text-decoration: underline;
}
.popup .p-flat-bottom a:nth-child(2):hover {
  color: #ff0048;
  font-weight: 400;
  text-decoration: underline;
}
.popup .p-flat-bottom a:last-child {
  display: inline-block;
  margin: 0;
  padding: 17px 45px;
  font: 400 20px/20px PFDinTextCondPro;
  border: 1px solid #81878a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.popup .p-flat-bottom a:last-child:hover {
  background-color: #ff5051;
  border: 1px solid #070707;
  color: #fff;
}

@media only screen and (min-width : 1100px) {
	.popup {
		width: 960px;
	}
	.flat-wrap {
		width: 682px;
	}
}
@media only screen and (min-width : 1530px) {
	.popup {
		width: 1180px;
	}
	.flat-wrap {
		width: 900px;
	}
}
@media only screen and (min-width : 1900px) {
	.popup {
		width: 1405px;
	}
	.flat-wrap {
		width: 1125px;
	}
}